<div class="container">
  <form [formGroup]="miFormulario" (ngSubmit)="onSave()">
    Usuario:
     <input 
     class="form-control"
      type="" 
      formControlName="username" 
      [class.is-invalid]="miFormulario.get('username').touched && miFormulario.get('username').invalid"
       />

    Password:
     <input 
     class="form-control" 
     type="Password" 
     formControlName="userpassword"
     [class.is-invalid]="miFormulario.get('userpassword').touched && miFormulario.get('userpassword').invalid"
     />
     <br>
    <button class="btn btn-primary" type="submit">Enviar</button>
  </form>
  {{ miFormulario.value | json}}
</div>